.wrapper {
  background-color: rgba(255, 165, 0, 0.6);
  border: 3px solid black;
  border-radius: 10px;
  padding: 1rem;
}
.wrapper h3 {
  margin-top: 1rem;
  font-size: 1.2rem;
}

.loanParams__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 2rem;
  -ms-flex-item-align: center;
      align-self: center;
  max-height: 39px;
}
.loanParams__alertAmount {
  -ms-flex-item-align: center;
      align-self: center;
}
.loanParams__input {
  min-width: 30%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}