.wrapper {
  background-color: rgba(255, 165, 0, 0.6);
  border: 3px solid black;
  border-radius: 10px;
  padding: 1rem;
}
.wrapper h3 {
  margin-top: 1rem;
  font-size: 1.2rem;
}

.lifeRiskGrid {
  display: grid;
  grid-template-columns: 8rem 16rem 1fr;
  grid-template-areas: "titleGender inputGender alertGender" "titleAge inputAge alertAge" "titleOccupation inputOccupation alertOccupation" "titleIllness inputIllness .";
  gap: 0.5rem;
}
.lifeRiskGrid__titleGender {
  grid-area: titleGender;
  font-weight: 400;
}
.lifeRiskGrid__inputGender {
  grid-area: inputGender;
  align-self: center;
}
.lifeRiskGrid__alertGender {
  grid-area: alertGender;
  align-self: center;
}
.lifeRiskGrid__titleAge {
  grid-area: titleAge;
  font-weight: 400;
}
.lifeRiskGrid__inputAge {
  grid-area: inputAge;
  align-self: center;
}
.lifeRiskGrid__alertAge {
  grid-area: alertAge;
  align-self: center;
}
.lifeRiskGrid__titleOccupation {
  grid-area: titleOccupation;
  font-weight: 400;
}
.lifeRiskGrid__inputOccupation {
  grid-area: inputOccupation;
  align-self: center;
}
.lifeRiskGrid__alertOccupation {
  grid-area: alertOccupation;
  align-self: center;
}
.lifeRiskGrid__titleIllness {
  grid-area: titleIllness;
  font-weight: 400;
}
.lifeRiskGrid__inputIllness {
  grid-area: inputIllness;
  align-self: center;
}

.gender__wrapper, .illness__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.gender__label, .illness__label {
  margin-left: 10px;
  margin-right: 30px;
}