.wrapper {
  background-color: rgba(255, 165, 0, 0.6);
  border: 3px solid black;
  border-radius: 10px;
  padding: 1rem;
}
.wrapper h3 {
  margin-top: 1rem;
  font-size: 1.2rem;
}

.estateRiskGrid {
  display: grid;
  grid-template-columns: 16rem 8rem 1fr;
  grid-template-areas: "titleBuildingYear inputBuildingYear alertBuildingYear" "titleFlammable inputFlammable .";
  gap: 0.5rem;
}
.estateRiskGrid__titleBuildingYear {
  grid-area: titleBuildingYear;
  font-weight: 400;
}
.estateRiskGrid__inputBuildingYear {
  grid-area: inputBuildingYear;
  align-self: center;
}
.estateRiskGrid__alertBuildingYear {
  grid-area: alertBuildingYear;
  align-self: center;
}
.estateRiskGrid__titleFlammable {
  grid-area: titleFlammable;
  font-weight: 400;
}
.estateRiskGrid__inputFlammable {
  grid-area: inputFlammable;
  align-self: center;
}