
body {
  margin: 0;
}


$clear: white;
$building: url('./components/img/building04.jpg');
$apartment: url('./components/img/apartment02.jpg');
$house: url('./components/img/house04.jpg');
$landLot: url('./components/img/landLot01.jpg');



.container {
  margin: 0;
  background-image: $apartment;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
    margin:  1rem 22%;
  }
}

